<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page Angular</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>

    <!-- HEADER -->

    <header>

        <div class="logo">
            AngularApp
        </div>

        <nav>
            <a routerLink="/">Accueil</a>
            <a routerLink="/features">Fonctionnalités</a>
            <a routerLink="/services">Services</a>
            <a routerLink="/contact">Contact</a>
        </nav>

        <div class="auth-buttons">
            <a routerLink="/auth" class="login-btn">
                Se connecter
            </a>

            <a routerLink="/register" class="signup-btn">
                S'inscrire
            </a>
        </div>

    </header>

    <router-outlet></router-outlet>

    <!-- FOOTER -->

    <footer>
        © 2026 AngularApp - Tous droits réservés
    </footer>

</body>
</html>