<div class="d-flex">

  <!-- Sidebar -->
  <div class="sidebar border-end" id="sidebar">
    
    <div class="p-3">
      <h5 class="text-dark"><b>  Clinique </b></h5><br>
      <hr>

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-lg-start" href="patientComponent">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-lg-start" href="patientComponent">Liste des patients</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-lg-start" href="Formulaire">Formulaire</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">Nos Services</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>

  <!-- Content -->
  <div class="content p-4 w-100">
    <app-content></app-content>
  </div>

</div>