nav {
    background-color: #343a40;
    color: #fff;
    padding: 1rem;

}
nav a {
    color: brown;
    text-decoration: none;
    margin-right: 1rem;
}
nav a:hover {
    text-decoration: underline;
}

.btn-outline-success {
    color: brown;
    border-color: brown;
}
.btn-outline-success:hover {
    background-color: brown;
    color: #fff;
    border-color: brown;
}

input.form-control {
    color: #fff;
    border: 1px solid #495057;
}
input.form-control:focus {
    color: #fff;
    border-color: #495057;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}